html,
body {
  margin: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links a {
  margin: 5px;
}

svg {
  border: 1px dashed lightgray;
}

rect {
  stroke-width: 2px;
  stroke: rgba(2, 117, 216, 1);
  fill: rgba(2, 117, 216, 0.4);
}

.danger {
  stroke: rgba(217, 83, 79, 1);
  fill: rgba(217, 83, 79, 0.4);
}

.alert {
  stroke: rgba(240, 173, 78, 1);
  fill: rgba(240, 173, 78, 0.4);
}

.threshold-line {
  stroke-width: 4px;
  stroke-dasharray: 10, 10;
}

.alert-line {
  stroke: rgba(240, 173, 78, 1);
}

.danger-line {
  stroke: rgba(217, 83, 79, 1);
}

.alert-text {
  fill: rgba(240, 173, 78, 1);
}

.danger-text {
  fill: rgba(217, 83, 79, 1);
}

.container-alert svg {
  animation: dangerContainerBackground 2s infinite;
}

@keyframes dangerContainerBackground {
  0% {
    background: white;
  }
  50% {
    background: rgba(217, 83, 79, 0.1);
  }
  100% {
    background: white;
  }
}
